@import url(http://fonts.googleapis.com/css?family=Gentium+Basic|Oswald);
/*
	Theme Name: Bubinga
	Description: Child theme of Genesis, by <a href="http://www.razegroup.com">Razegroup</a>.
	Author: Andy Spicer
	Author URI: http://www.razegroup.com
	
	Template: genesis
*/
/* Import Fonts
------------------------------------------------------------
To import multiple google fonts combine them to reduce the HTTP requests.
@import url(http://fonts.googleapis.com/css?family=Merriweather|Open+Sans);
*/
/* Andy's Added Selectors
------------------------------------------------------------ */
/* Defaults
------------------------------------------------------------ */
/* line 39, scss/style.scss */
body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
  color: #333;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0;
  text-decoration: none; }

/***** styles to change the headers and p tag
h1 {
    font-family: Gentium;
    font-size: 31px;
    color: #3e889b;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #be1f07;
}

h3 {
    font-size: 17px;
    color: #f8303c;
}

h4 {
    font-size: 14px;
    color: #646464;
}

h5 {
    font-size: 10px;
    color: #323232;
}

p {
    font-size: 16px;
    color: #323232;
}
*/
/* line 87, scss/style.scss */
input {
  color: #333;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 22px; }

/* line 101, scss/style.scss */
blockquote,
input,
select,
textarea,
.author-box,
.sticky,
.wp-caption {
  background-color: #f5f5f5;
  border: 1px solid #dddddd; }

/* line 108, scss/style.scss */
li,
ol,
ul {
  margin: 0;
  padding: 0; }

/* line 113, scss/style.scss */
ol li {
  list-style-type: decimal; }

/* Hyperlinks
------------------------------------------------------------ */
/* line 122, scss/style.scss */
a,
a:visited {
  color: #25a;
  text-decoration: none; }

/* line 127, scss/style.scss */
a:hover {
  text-decoration: underline; }

/* line 131, scss/style.scss */
a img {
  border: none; }

/* Body
------------------------------------------------------------ */
/* line 139, scss/style.scss */
body {
  background-color: #fff;
  background-image: url(./images/bg.jpg);
  background-repeat: repeat-x; }

/* Wrap
------------------------------------------------------------ */
/* line 149, scss/style.scss */
#wrap {
  margin: 0 auto;
  max-width: 960px; }

/* Header
------------------------------------------------------------ */
/* line 177, scss/style.scss */
#header {
  overflow: hidden;
  width: 100%; }

/* line 182, scss/style.scss */
#title-area {
  float: left;
  overflow: hidden;
  padding: 15px 0 0;
  width: 400px; }

/* line 189, scss/style.scss */
#title {
  font-size: 30px;
  line-height: 30px;
  margin: 0; }

/* line 196, scss/style.scss */
#title a,
#title a:hover {
  color: #333;
  text-decoration: none; }

/* line 201, scss/style.scss */
#description {
  font-size: 14px; }

/* line 205, scss/style.scss */
#header .widget-area {
  float: right;
  width: 550px; }

/* Image Header - Partial Width
------------------------------------------------------------ */
/* line 216, scss/style.scss */
.header-image #title-area,
.header-image #title,
.header-image #title a {
  display: block;
  float: left;
  height: 125px;
  overflow: hidden;
  padding: 10px 5px;
  text-indent: -9999px;
  width: 239px; }

/* line 227, scss/style.scss */
.header-image #description {
  display: block;
  overflow: hidden; }

/* line 232, scss/style.scss */
.header-image #title a {
  background-image: url(images/logo.jpg);
  background-repeat: no-repeat; }

/* Navigation Constants
------------------------------------------------------------ */
/* line 242, scss/style.scss */
li:hover ul ul,
li.sfHover ul ul {
  left: -9999px; }

/* line 247, scss/style.scss */
li:hover,
li.sfHover {
  position: static; }

/* line 258, scss/style.scss */
li a .sf-sub-indicator {
  display: none; }

/* Header Right Navigation
------------------------------------------------------------ */
/* line 265, scss/style.scss */
#header ul.menu {
  float: right; }

/* line 269, scss/style.scss */
#header ul.menu ul {
  float: right;
  margin: 0;
  padding: 0;
  width: 100%; }

/* line 276, scss/style.scss */
#header ul.menu li {
  background-color: #333;
  float: left;
  list-style-type: none;
  text-transform: uppercase; }

/* line 283, scss/style.scss */
#header ul.menu li a {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 7px 10px 5px;
  position: relative;
  text-decoration: none; }

/* line 296, scss/style.scss */
#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu .current_page_item a,
#header ul.menu .current-cat a,
#header ul.menu .current-menu-item a {
  background-color: #000;
  color: #fff; }

/* line 303, scss/style.scss */
#header ul.menu li li a,
#header ul.menu li li a:link,
#header ul.menu li li a:visited {
  background-color: #333;
  border: 1px solid #666666;
  border-top-width: 0;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  position: relative;
  text-transform: none;
  width: 138px; }

/* line 316, scss/style.scss */
#header ul.menu li li a:hover,
#header ul.menu li li a:active {
  background-color: #000; }

/* line 320, scss/style.scss */
#header ul.menu li ul {
  height: auto;
  left: -9999px;
  position: absolute;
  width: 160px;
  z-index: 9999; }

/* line 328, scss/style.scss */
#header ul.menu li ul a {
  width: 140px; }

/* line 332, scss/style.scss */
#header ul.menu li ul ul {
  margin: -33px 0 0 159px; }

/* line 337, scss/style.scss */
#header ul.menu li:hover > ul,
#header ul.menu li.sfHover ul {
  left: auto; }

/* Primary Navigation
------------------------------------------------------------ */
/* line 345, scss/style.scss */
#nav {
  background-color: transparent;
  background-image: url(images/menu-bg.jpg);
  background-repeat: repeat-x;
  border-bottom: 1px solid #666666;
  clear: both;
  color: #fff;
  margin: 0px auto 15px;
  overflow: hidden;
  text-transform: uppercase;
  width: 98%; }

/* line 358, scss/style.scss */
#nav ul {
  float: left;
  width: 100%; }

/* line 363, scss/style.scss */
#nav li {
  float: left;
  list-style-type: none; }

/* line 368, scss/style.scss */
#nav li a {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 7px 10px 5px;
  position: relative;
  text-decoration: none; }

/* line 381, scss/style.scss */
#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
  background-color: transparent;
  background-image: url(images/menu-bg-over.jpg);
  background-repeat: repeat-x;
  color: #fff; }

/* line 390, scss/style.scss */
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #333;
  border: 1px solid #666666;
  border-top-width: 0;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  position: relative;
  text-transform: none;
  width: 138px; }

/* line 403, scss/style.scss */
#nav li li a:hover,
#nav li li a:active {
  background-color: #000; }

/* line 407, scss/style.scss */
#nav li ul {
  height: auto;
  left: -9999px;
  position: absolute;
  width: 160px;
  z-index: 9999; }

/* line 415, scss/style.scss */
#nav li ul a {
  width: 140px; }

/* line 419, scss/style.scss */
#nav li ul ul {
  margin: -33px 0 0 159px; }

/* line 424, scss/style.scss */
#nav li:hover > ul,
#nav li.sfHover ul {
  left: auto; }

/* Secondary Navigation
------------------------------------------------------------ */
/* line 432, scss/style.scss */
#subnav {
  background-color: #333;
  border-bottom: 1px solid #666666;
  clear: both;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%; }

/* line 442, scss/style.scss */
#subnav ul {
  float: left;
  width: 100%; }

/* line 447, scss/style.scss */
#subnav li {
  float: left;
  list-style-type: none; }

/* line 452, scss/style.scss */
#subnav li a {
  color: #fff;
  display: block;
  font-size: 13px;
  padding: 7px 10px 5px;
  position: relative;
  text-decoration: none; }

/* line 465, scss/style.scss */
#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a {
  background-color: #000;
  color: #fff; }

/* line 472, scss/style.scss */
#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
  background-color: #333;
  border: 1px solid #666666;
  border-top-width: 0;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  position: relative;
  text-transform: none;
  width: 138px; }

/* line 485, scss/style.scss */
#subnav li li a:hover,
#subnav li li a:active {
  background-color: #000; }

/* line 489, scss/style.scss */
#subnav li ul {
  height: auto;
  left: -9999px;
  position: absolute;
  width: 160px;
  z-index: 9999; }

/* line 497, scss/style.scss */
#subnav li ul a {
  width: 140px; }

/* line 501, scss/style.scss */
#subnav li ul ul {
  margin: -33px 0 0 159px; }

/* line 506, scss/style.scss */
#subnav li:hover > ul,
#subnav li.sfHover ul {
  left: auto; }

/* Inner
------------------------------------------------------------ */
/* line 514, scss/style.scss */
#inner {
  overflow: hidden;
  width: 100%; }

/* Content
------------------------------------------------------------ */
/* line 523, scss/style.scss */
#content {
  float: left;
  width: 59.49367%;
  /* 470/790 */ }

/* line 528, scss/style.scss */
.full-width-content #content {
  width: 100%; }

/* line 532, scss/style.scss */
.sidebar-content #content {
  float: right; }

/* line 536, scss/style.scss */
blockquote {
  margin: 5px 15px 20px;
  padding: 15px 20px 0; }

/* line 541, scss/style.scss */
.post {
  margin: 0 0 40px; }

/* line 545, scss/style.scss */
.entry-content {
  overflow: hidden; }

/* line 549, scss/style.scss */
.entry-content p {
  padding: 0 0 15px; }

/* line 553, scss/style.scss */
p.subscribe-to-comments {
  padding: 20px 0 10px; }

/* line 557, scss/style.scss */
.clear {
  clear: both; }

/* line 562, scss/style.scss */
hr,
.clear-line {
  background: transparent;
  border: none;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  width: 100%;
  margin: 0 0 15px; }

/* Column Classes
------------------------------------------------------------ */
/* line 589, scss/style.scss */
.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 600, scss/style.scss */
.one-half,
.three-sixths,
.two-fourths {
  width: 48%; }

/* line 605, scss/style.scss */
.one-third,
.two-sixths {
  width: 31%; }

/* line 610, scss/style.scss */
.four-sixths,
.two-thirds {
  width: 65%; }

/* line 614, scss/style.scss */
.one-fourth {
  width: 22.5%; }

/* line 618, scss/style.scss */
.three-fourths {
  width: 73.5%; }

/* line 622, scss/style.scss */
.one-fifth {
  width: 17.4%; }

/* line 626, scss/style.scss */
.two-fifths {
  width: 37.8%; }

/* line 630, scss/style.scss */
.three-fifths {
  width: 58.2%; }

/* line 634, scss/style.scss */
.four-fifths {
  width: 78.6%; }

/* line 638, scss/style.scss */
.one-sixth {
  width: 14%; }

/* line 642, scss/style.scss */
.five-sixths {
  width: 82%; }

/* line 646, scss/style.scss */
.first {
  clear: both;
  margin-left: 0; }

/* Headlines
------------------------------------------------------------ */
/* line 660, scss/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  margin: 0 0 5px; }

/* line 665, scss/style.scss */
h1 {
  font-size: 28px; }

/* line 671, scss/style.scss */
h2,
h2 a,
h2 a:visited {
  font-size: 24px; }

/* line 675, scss/style.scss */
h3 {
  font-size: 20px; }

/* line 679, scss/style.scss */
h4 {
  font-size: 16px; }

/* line 683, scss/style.scss */
h5 {
  font-size: 14px; }

/* line 687, scss/style.scss */
h6 {
  font-size: 12px; }

/* Ordered / Unordered Lists
------------------------------------------------------------ */
/* line 696, scss/style.scss */
.entry-content ol,
.entry-content ul {
  margin: 0;
  padding: 0 0 15px; }

/* line 701, scss/style.scss */
.entry-content ol {
  margin: 0; }

/* line 706, scss/style.scss */
.archive-page ul li,
.entry-content ul li {
  list-style-type: square;
  margin: 0 0 0 30px;
  padding: 0; }

/* line 712, scss/style.scss */
.entry-content ol li {
  margin: 0 0 0 35px; }

/* line 718, scss/style.scss */
.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
  padding: 0; }

/* Post Info
------------------------------------------------------------ */
/* line 726, scss/style.scss */
.post-info {
  margin: 5px 0; }

/* Post Meta
------------------------------------------------------------ */
/* line 734, scss/style.scss */
.post-meta {
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  width: 100%; }

/* Author Box
------------------------------------------------------------ */
/* line 744, scss/style.scss */
.author-box {
  margin: 0 0 40px;
  overflow: hidden;
  padding: 10px; }

/* Sticky Posts
------------------------------------------------------------ */
/* line 754, scss/style.scss */
.sticky {
  margin: 0 0 40px;
  padding: 20px; }

/* Archive Page
------------------------------------------------------------ */
/* line 763, scss/style.scss */
.archive-page {
  float: left;
  padding: 20px 0;
  width: 45%; }

/* Images
------------------------------------------------------------ */
/* line 772, scss/style.scss */
img {
  height: auto;
  max-width: 100%;
  overflow: hidden; }

/* line 778, scss/style.scss */
.author-box .avatar {
  background-color: #fff;
  float: left;
  margin: 0 10px 0 0; }

/* line 784, scss/style.scss */
.post-image {
  margin: 0 10px 10px 0; }

/* line 788, scss/style.scss */
.comment-list li .avatar {
  background-color: #fff;
  float: right;
  margin: 0 5px 0 10px;
  padding: 4px; }

/* line 796, scss/style.scss */
img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 10px; }

/* line 801, scss/style.scss */
img.alignnone {
  display: inline;
  margin: 0 0 10px; }

/* line 806, scss/style.scss */
img.alignleft {
  display: inline;
  margin: 0 10px 10px 0; }

/* line 811, scss/style.scss */
img.alignright {
  display: inline;
  margin: 0 0 10px 10px; }

/* line 816, scss/style.scss */
.alignleft {
  float: left;
  margin: 0 10px 0 0; }

/* line 821, scss/style.scss */
.alignright {
  float: right;
  margin: 0 0 0 10px; }

/* line 826, scss/style.scss */
.wp-caption {
  padding: 5px;
  text-align: center; }

/* line 831, scss/style.scss */
p.wp-caption-text {
  font-size: 12px;
  line-height: 16px;
  padding: 5px 0; }

/* line 838, scss/style.scss */
.wp-smiley,
.wp-wink {
  border: none;
  float: none; }

/* Post Navigation
------------------------------------------------------------ */
/* line 850, scss/style.scss */
.navigation {
  overflow: hidden;
  padding: 20px 0;
  width: 100%; }

/* line 856, scss/style.scss */
.navigation li {
  display: inline; }

/* line 863, scss/style.scss */
.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
  border: 1px solid #dddddd;
  padding: 5px 8px; }

/* line 869, scss/style.scss */
.navigation li a:hover,
.navigation li.active a {
  background-color: #f5f5f5; }

/* Primary / Secondary Sidebars
------------------------------------------------------------ */
/* line 877, scss/style.scss */
.sidebar {
  display: block;
  float: right;
  font-size: 13px;
  line-height: 20px;
  width: 31.25%;
  /* 300/960 */ }

/* line 885, scss/style.scss */
.sidebar h4 {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  text-transform: uppercase; }

/* line 894, scss/style.scss */
.sidebar p {
  font-size: 13px;
  line-height: 20px; }

/* line 899, scss/style.scss */
.sidebar-content #sidebar {
  float: left; }

/* line 903, scss/style.scss */
.sidebar .widget {
  margin: 0 0 15px;
  padding: 0 0 10px; }

/* line 909, scss/style.scss */
.widget-area ol,
.widget-area ul {
  margin: 10px 0 0 25px; }

/* line 914, scss/style.scss */
.widget-area ol ol,
.widget-area ul ul {
  margin: 0 0 0 15px; }

/* line 918, scss/style.scss */
.widget-area ul li {
  list-style-type: square;
  word-wrap: break-word; }

/* Buttons
------------------------------------------------------------ */
/* line 929, scss/style.scss */
div.gform_footer input.button,
.button,
.button:visited {
  background: url(images/button-bg.jpg) repeat-x;
  border: 1px solid #580816;
  color: #fff;
  display: inline-block;
  font-family: "Rokkitt", Georgia, Times, serif;
  font-size: 28px;
  line-height: 28px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* line 946, scss/style.scss */
div.gform_footer input.button:hover,
.button:hover {
  background: url(images/button-bg.jpg) repeat-x left bottom;
  cursor: pointer;
  text-decoration: none; }

/* Search Form
------------------------------------------------------------ */
/* line 955, scss/style.scss */
.s {
  font-size: 12px;
  margin: 5px 2px 0 0;
  padding: 4px 5px;
  width: 195px; }

/* Footer Widgets
------------------------------------------------------------ */
/* line 966, scss/style.scss */
#footer-widgets {
  overflow: hidden;
  width: 100%; }

/* line 971, scss/style.scss */
#footer-widgets .widget-area {
  float: left;
  padding: 20px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 981, scss/style.scss */
#footer-widgets h4 {
  background: none;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 0 0 5px;
  padding: 0;
  text-transform: uppercase; }

/* Footer
------------------------------------------------------------ */
/* line 996, scss/style.scss */
#footer {
  overflow: hidden;
  width: 100%; }

/* line 1001, scss/style.scss */
#footer-right {
  text-align: right; }

/* Comments
------------------------------------------------------------ */
/* line 1009, scss/style.scss */
#comments,
#respond {
  margin: 0 0 15px;
  overflow: hidden; }

/* line 1017, scss/style.scss */
#author,
#comment,
#email,
#url {
  font-size: 12px;
  margin: 10px 5px 0 0;
  padding: 5px;
  width: 250px; }

/* line 1024, scss/style.scss */
#comment {
  height: 150px;
  margin: 10px 0;
  width: 98%; }

/* line 1030, scss/style.scss */
.ping-list {
  margin: 0 0 40px; }

/* line 1035, scss/style.scss */
.comment-list ol,
.ping-list ol {
  padding: 10px; }

/* line 1040, scss/style.scss */
.comment-list li,
.ping-list li {
  font-weight: bold;
  margin: 15px 0 5px;
  padding: 10px 5px 10px 10px; }

/* line 1046, scss/style.scss */
.comment-list li ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: -6px; }

/* line 1053, scss/style.scss */
.comment-list p,
.ping-list p {
  margin: 10px 5px 10px 0; }

/* line 1058, scss/style.scss */
.comment-list cite,
.ping-list cite {
  font-style: normal; }

/* line 1062, scss/style.scss */
.commentmetadata {
  font-size: 11px; }

/* line 1066, scss/style.scss */
.nocomments {
  text-align: center; }

/* line 1070, scss/style.scss */
#comments .navigation {
  display: block; }

/* line 1078, scss/style.scss */
.thread-alt,
.thread-even {
  background-color: #f5f5f5; }

/* line 1084, scss/style.scss */
.alt,
.depth-1,
.even {
  border: 1px solid #dddddd; }

/* Smaller Screens
------------------------------------------------------------ */
@media only screen and (max-width: 480px) {
  /* line 1096, scss/style.scss */
  .content-sidebar #content,
  .sidebar-content #content,
  .content-sidebar #sidebar,
  .sidebar-content #sidebar {
    width: 100%; }

  /* line 1110, scss/style.scss */
  .one-half,
  .one-third,
  .two-thirds,
  .one-fourth,
  .three-fourths,
  .one-fifth,
  .two-fifths,
  .three-fifths,
  .four-fifths,
  .one-sixth,
  .five-sixths {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0; }

  /* line 1118, scss/style.scss */
  #footer-left,
  #footer-right {
    text-align: center; } }
