/* Column Classes
------------------------------------------------------------ */
/* line 18, scss/editor-style.scss */
.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin: 0 0 20px;
  padding-left: 3%; }

/* line 26, scss/editor-style.scss */
.one-half,
.three-sixths,
.two-fourths {
  width: 48%; }

/* line 31, scss/editor-style.scss */
.one-third,
.two-sixths {
  width: 31%; }

/* line 36, scss/editor-style.scss */
.four-sixths,
.two-thirds {
  width: 65%; }

/* line 40, scss/editor-style.scss */
.one-fourth {
  width: 22.5%; }

/* line 44, scss/editor-style.scss */
.three-fourths {
  width: 73.5%; }

/* line 48, scss/editor-style.scss */
.one-fifth {
  width: 17.4%; }

/* line 52, scss/editor-style.scss */
.two-fifths {
  width: 37.8%; }

/* line 56, scss/editor-style.scss */
.three-fifths {
  width: 58.2%; }

/* line 60, scss/editor-style.scss */
.four-fifths {
  width: 78.6%; }

/* line 64, scss/editor-style.scss */
.one-sixth {
  width: 14%; }

/* line 68, scss/editor-style.scss */
.five-sixths {
  width: 82%; }

/* line 72, scss/editor-style.scss */
.first {
  clear: both;
  padding-left: 0; }

/* Images
------------------------------------------------------------ */
/* line 80, scss/editor-style.scss */
img {
  max-width: 100%;
  height: auto; }
