/*
	Theme Name: Bubinga
	Description: Child theme of Genesis, by <a href="http://www.razegroup.com">Razegroup</a>.
	Author: Andy Spicer
	Author URI: http://www.razegroup.com
	
	Template: genesis
*/


/* Import Fonts
------------------------------------------------------------
To import multiple google fonts combine them to reduce the HTTP requests.
@import url(http://fonts.googleapis.com/css?family=Merriweather|Open+Sans);
*/

@import url(http://fonts.googleapis.com/css?family=Gentium+Basic|Oswald);



/* Andy's Added Selectors
------------------------------------------------------------ */


/* Defaults
------------------------------------------------------------ */

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}


/***** styles to change the headers and p tag
h1 {
    font-family: Gentium;
    font-size: 31px;
    color: #3e889b;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #be1f07;
}

h3 {
    font-size: 17px;
    color: #f8303c;
}

h4 {
    font-size: 14px;
    color: #646464;
}

h5 {
    font-size: 10px;
    color: #323232;
}

p {
    font-size: 16px;
    color: #323232;
}
*/



input {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
		font-size: 14px;
	line-height: 22px;

}

blockquote,
input,
select,
textarea,
.author-box,
.sticky,
.wp-caption {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #25a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background-color: #fff;
    background-image: url(./images/bg.jpg);
    background-repeat: repeat-x;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	margin: 0 auto;
	max-width: 960px;
}


/** 
// If full width site
.wrap {
	margin: 0 auto;
	max-width: 960px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/

/**
// If not responsive and full width
#wrap {
	min-width: 960px;
}
*/

/* Header
------------------------------------------------------------ */

#header {
	overflow: hidden;
	width: 100%;
}

#title-area {
	float: left;
	overflow: hidden;
	padding: 15px 0 0;
	width: 400px;
}

#title {
	font-size: 30px;
	line-height: 30px;
	margin: 0;
}

#title a,
#title a:hover {
	color: #333;
	text-decoration: none;
}

#description {
	font-size: 14px;
}

#header .widget-area {
	float: right;
	width: 550px;
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	float: left;
    height: 125px;
	overflow: hidden;
	padding: 10px 5px;
	text-indent: -9999px;
    width: 239px ;

}

.header-image #description {
	display: block;
	overflow: hidden;
}

.header-image #title a {
    background-image: url( images/logo.jpg );
    background-repeat: no-repeat;
}


/* Navigation Constants
------------------------------------------------------------ */

li:hover ul ul,
li.sfHover ul ul {
	left: -9999px;
}

li:hover,
li.sfHover {
	position: static;
}

#header ul.nav li a.sf-with-ul,
#header ul.menu li a.sf-with-ul,
#nav li a.sf-with-ul,
#subnav li a.sf-with-ul {
	
}

li a .sf-sub-indicator {
	display: none;
}

/* Header Right Navigation
------------------------------------------------------------ */

#header ul.menu {
	float: right;
}

#header ul.menu ul {
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header ul.menu li {
	background-color: #333;
	float: left;
	list-style-type: none;
	text-transform: uppercase;
}

#header ul.menu li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu .current_page_item a,
#header ul.menu .current-cat a,
#header ul.menu .current-menu-item a {
	background-color: #000;
	color: #fff;
}

#header ul.menu li li a,
#header ul.menu li li a:link,
#header ul.menu li li a:visited {
	background-color: #333;
	border: 1px solid #666;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#header ul.menu li li a:hover,
#header ul.menu li li a:active {
	background-color: #000;
}

#header ul.menu li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#header ul.menu li ul a {
	width: 140px;
}

#header ul.menu li ul ul {
	margin: -33px 0 0 159px;
}

#header ul.menu li:hover>ul,
#header ul.menu li.sfHover ul {
	left: auto;
}


/* Primary Navigation
------------------------------------------------------------ */

#nav {
	background-color: transparent;
    background-image: url(images/menu-bg.jpg);
    background-repeat: repeat-x;
	border-bottom: 1px solid #666;
	clear: both;
	color: #fff;
    margin: 0px auto 15px;
	overflow: hidden;
	text-transform: uppercase;
	width: 98%;
}

#nav ul {
	float: left;
	width: 100%;
}

#nav li {
	float: left;
	list-style-type: none;
}

#nav li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
	background-color: transparent;
    background-image: url(images/menu-bg-over.jpg);
    background-repeat: repeat-x;
	color: #fff;
}

#nav li li a,
#nav li li a:link,
#nav li li a:visited {
	background-color: #333;
	border: 1px solid #666;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#nav li li a:hover,
#nav li li a:active {
	background-color: #000;
}

#nav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#nav li ul a {
	width: 140px;
}

#nav li ul ul {
	margin: -33px 0 0 159px;
}

#nav li:hover>ul,
#nav li.sfHover ul {
	left: auto;
}


/* Secondary Navigation
------------------------------------------------------------ */

#subnav {
	background-color: #333;
	border-bottom: 1px solid #666;
	clear: both;
	color: #fff;
	overflow: hidden;
	text-transform: uppercase;
	width: 100%;
}

#subnav ul {
	float: left;
	width: 100%;
}

#subnav li {
	float: left;
	list-style-type: none;
}

#subnav li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 7px 10px 5px;
	position: relative;
	text-decoration: none;
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a {
	background-color: #000;
	color: #fff;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background-color: #333;
	border: 1px solid #666;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#subnav li li a:hover,
#subnav li li a:active {
	background-color: #000;
}

#subnav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#subnav li ul a {
	width: 140px;
}

#subnav li ul ul {
	margin: -33px 0 0 159px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
	left: auto;
}


/* Inner
------------------------------------------------------------ */

#inner {
	overflow: hidden;
	width: 100%;
}


/* Content
------------------------------------------------------------ */

#content {
	float: left;
	width: 59.49367%; /* 470/790 */
}

.full-width-content #content {
	width: 100%;
}

.sidebar-content #content {
	float: right;
}

blockquote {
	margin: 5px 15px 20px;
	padding: 15px 20px 0;
}

.post {
	margin: 0 0 40px;
}

.entry-content {
	overflow: hidden;
}

.entry-content p {
	padding: 0 0 15px;
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.clear {
	clear: both;
}

hr,
.clear-line {
	background: transparent;
	border: none;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
	margin: 0 0 15px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin-left: 3%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	margin-left: 0;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25em;
	margin: 0 0 5px;
}

h1 {
	font-size: 28px;
}

h2,
h2 a,
h2 a:visited {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 15px;
}

.entry-content ol {
	margin: 0;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	margin: 5px 0;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	margin: 0 0 40px;
	overflow: hidden;
	padding: 10px;
}


/* Sticky Posts
------------------------------------------------------------ */

.sticky {
	margin: 0 0 40px;
	padding: 20px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0;
	width: 45%;
}

/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
	overflow: hidden;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	margin: 0 10px 0 0;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar {
	background-color: #fff;
	float: right;
	margin: 0 5px 0 10px;
	padding: 4px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 10px;
}

img.alignleft {
	display: inline;
	margin: 0 10px 10px 0;
}

img.alignright {
	display: inline;
	margin: 0 0 10px 10px;
}

.alignleft {
	float: left;
	margin: 0 10px 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 10px;
}

.wp-caption {
	padding: 5px;
	text-align: center;
}

p.wp-caption-text {
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}

.gallery-caption {
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	border: 1px solid #ddd;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #f5f5f5;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: block;
	float: right;
	font-size: 13px;
	line-height: 20px;
	width: 31.25%; /* 300/960 */
}

.sidebar h4 {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px 5px 10px;
	text-transform: uppercase;
}

.sidebar p {
	font-size: 13px;
	line-height: 20px;
}

.sidebar-content #sidebar {
	float: left;
}

.sidebar .widget {
	margin: 0 0 15px;
	padding: 0 0 10px;
}

.widget-area ol,
.widget-area ul {
	margin: 10px 0 0 25px;
}

.widget-area ol ol,
.widget-area ul ul {
	margin: 0 0 0 15px;
}

.widget-area ul li {
	list-style-type: square;
	word-wrap: break-word;
}


/* Buttons
------------------------------------------------------------ */

div.gform_footer input.button,
.button,
.button:visited {
	background: url(images/button-bg.jpg) repeat-x;
	border: 1px solid #580816;
	color: #fff;
	display: inline-block;
	font-family: 'Rokkitt', Georgia, Times, serif;
	font-size: 28px;
	line-height: 28px;
	padding: 16px 32px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.gform_footer input.button:hover,
.button:hover {
	background: url(images/button-bg.jpg) repeat-x left bottom;
	cursor: pointer;
	text-decoration: none;
}

/* Search Form
------------------------------------------------------------ */

.s {
	font-size: 12px;
	margin: 5px 2px 0 0;
	padding: 4px 5px;
	width: 195px;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
	overflow: hidden;
	width: 100%;
}

#footer-widgets .widget-area {
	float: left;
	padding: 20px;
	width: 25%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#footer-widgets h4 {
	background: none;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
	padding: 0;
	text-transform: uppercase;
}


/* Footer
------------------------------------------------------------ */

#footer {
	overflow: hidden;
	width: 100%;
}

#footer-right {
	text-align: right;
}

/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 15px;
	overflow: hidden;
}

#author,
#comment,
#email,
#url {
	font-size: 12px;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	margin: 15px 0 5px;
	padding: 10px 5px 10px 10px;
}

.comment-list li ul li {
	list-style-type: none;
	margin-left: 10px;
	margin-right: -6px;
}

.comment-list p,
.ping-list p {
	margin: 10px 5px 10px 0;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
}

.commentmetadata {
	font-size: 11px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
}

.bypostauthor {
}

.thread-alt,
.thread-even {
	background-color: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


/* Smaller Screens
------------------------------------------------------------ */

@media only screen and (max-width: 480px) { 
	.content-sidebar #content, 
	.sidebar-content #content, 
	.content-sidebar #sidebar, 
	.sidebar-content #sidebar { 
		width: 100%; 
	} 
	
	.one-half,
	.one-third,
	.two-thirds,
	.one-fourth,
	.three-fourths,
	.one-fifth,
	.two-fifths,
	.three-fifths,
	.four-fifths,
	.one-sixth,
	.five-sixths {
		float: none;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#footer-left,
	#footer-right {
		text-align: center;
	}
} 
